.container {
  padding: 0 0 1em 0;
  margin:1em 2em 0.5em 2em;
  width: 282px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
}

.image {
  width: 100%;
}

.container h2,
.favorite {
  padding: 0 1em;
}

.favorite {
  width: 25px;
}
